@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background-image: url(Backgrounds/background-verde.jpg);
}

main {
  padding: 20px;
  position: fixed;
  z-index: 1;
  padding-left: calc(82px + 20px);
}
#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  height: 100vh;
  border-radius: 0px 18px 18px 0px;
  position: relative;
  transition: all .5s;
  min-width: 82px;
  z-index: 2;
}

#sidebar_content {
  padding: 12px;
}

#user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

#user_avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 20px;
}

#user_infos {
  display: flex;
  flex-direction: column;
}

#user_infos span:last-child {
  color: #6b6b6b;
  font-size: 12px;
}

#side_items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.side-item {
  border-radius: 8px;
  padding: 14px;
  cursor: pointer;
}

.side-item.active {
  background-color: #4f46e5;
}

.side-item:hover:not(.active),
#logout_btn:hover {
  background-color: #e3e9f7;
}

.side-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a0a0a;
}

.side-item.active a {
  color: #e3e9f7;
}

.side-item a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

#logout {
  border-top: 1px solid #e3e9f7;
  padding: 12px;
}

#logout_btn {
  border: none;
  padding: 12px;
  font-size: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
}

#open_btn {
  position: absolute;
  top: 30px;
  right: -10px;
  background-color: #4f46e5;
  color: #e3e9f7;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

#open_btn_icon {
  transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
  transform: rotate(180deg);
}

.item-description {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  transition: width .6s;
  height: 0px;
}

#sidebar.open-sidebar {
  min-width: 200px;
}

#sidebar.open-sidebar .item-description {
  width: 150px;
  height: auto;
}

#sidebar.open-sidebar .side-item a {
  justify-content: flex-start;
  gap: 14px;
}

#sidebar.open-sidebar ~ main {
  padding-left: calc(200px + 20px); 
  transition: padding-left .5s;
}

.profile {
  color: #fff;
  font-size: 20px;
  margin-right: 2000px;
  padding: 5px;
  text-align: center;
  font-family: 'poppins', cursive;
}

.image-box {
  color: #fff;
  position: relative;
  width: 15vh;
  height: 15vh;
  padding: 10px;
  margin: 10px;
  margin-top: -100px;
  margin-left: 500px;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.img-box {
  color: black;
  background-color: lightgray;
}

.image-box img {
  width: 160%;
  height: 120%;
  object-fit: cover;
}

input[type="file"] {
  display: none;
}

.Box:hover {
  animation: pulse 2s ease-out;
}



@keyframes pulse {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.background-box {
  color: black;
  position: relative;
  width: 50vw;
  height: 20vh;
  padding: 150px;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 450px;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.edit {
  border-radius: 8px;
  padding: 14px;
  cursor: pointer

}

.edit a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a0a0a;

}

.edit a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.nome {
  color: black;
  padding-right: 260px;
  font-size: 50px;
  font-family: cursive;
}