*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(Backgrounds/background\ gato.jpg);
} section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: transparent;
    width: 500px;
    box-shadow: rgb(57, 112, 194) 0px 2px 4px;
}
section h2{
    color: black;
    font-size: 2.5rem;
    margin: 2rem;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: black;
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid blue ;
    color: black;
    transition: all 1s;
    margin-bottom: 20px;
}
form button:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}
/*Pagina do Obrigado*/

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #101026;
    flex-direction: column;
}
.text{
    font-size: 45px;
    color: #f5f5f5;
    margin: 30px;
}
.paragrafo{
    color: #f5f5f5;
    margin-bottom: 50px;
}
.bnt{
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
}
.bnt:hover{
    border-radius: 60px;
    
}